.card {
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 16px;
    border-radius: 15px;
    border: 1px solid var(--b16);
    background: var(--white);

}

.icon {
    border: 1px solid var(--b32);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.body {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media(max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .body {
        text-align: center;

    }

}