.whydb{
    position: relative;
}

.container {
    gap: 32px;
}

.title {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.container p {
    width: 100%;
    max-width: 900px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    margin-bottom: 40px;

}
.team{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* gap: 12px; */
    flex-wrap: wrap;
}

.bgObject01{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
}

.samir{
    display: flex;
    align-items: start;
    text-align: right;
}
.samir img{
    width: 30%;
    object-fit:contain
}
.about{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
}
.about p{
    margin: 16px 0px;
}

@media(max-width: 768px){
    .samir{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 32px;
    }
    .samir img{
        width: 70%;
    }
    
}