.container {
    justify-content: right !important;
    align-items: start !important;
    text-align: right !important;
}

.img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-top: -88px;
    margin-bottom: 32px;
    border-radius: 0 0 16px 16px;

}

.body {
    max-width: 1440px;
    align-items: start !important;
    text-align: right !important;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.body img {
    max-width: 500px;
    width: 100%;
    display: flex;
    margin: 24px 0;
    border-radius: 12px;

}
.back{
    color: var(--brandMain);
    height: 32px;
    font-weight: 800px;
}

@media(max-width: 768px){
    .img{
    margin-top: -64px;
    }
}