.card {
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 16px;
    border-radius: 15px;
    border: 1px solid var(--b16);
    background: var(--white);
    min-height: 130px;
    position: relative;

}


.body {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.body p{
    padding-left: 132px;
}
.bgObject02{
    position: absolute;
    top: 0;
    left: 12px;
}

@media(max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .body {
        text-align: center;

    }
    .bgObject02{
        display: none;
    }
    .body p{
        padding-left: 0;
    }

}