
.btn{
    text-wrap: nowrap;
    color: var(--brandVeryLight, #C0ECF5);
    font-family: Tajawal;
    font-size: 14px;
    font-weight: 700;

    display: flex;
    height: 40px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 24px;
    border: 1px solid var(--brandMain, #049DD9);
}

