.container {
    gap: 24px;
}

.title {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

}

.qsContainer {
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 24px;
    gap: 16px;
    border-radius: 15px;
    border: 1px solid var(--b16);
    background: var(--white);
    text-align: right;
    cursor: pointer;
}
.qs{
    display: flex;
}
.qs h3{
    flex: 1;
    color: var(--b60);
}
.qs span{
    height: 24px ;
}
.qs span svg{
    height: 24px ;
}
.answer{
    display: none;
    color: var(--b60);
    
}