.sec {
    position: relative;
    display: flex;
    height: fit-content;
    flex-direction: column;
    background: linear-gradient(103deg, rgba(6, 12, 19, 0.50) 14.44%, rgba(1, 40, 64, 0.50) 88.41%);
}

.container {
    gap: 32px;
}

.bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    color: var(--white);
}

.content p {
    width: 100%;
    max-width: 900px;
}

.content img {
    width: 80%;
    max-width: 550px;
}

@media (max-width: 768px) {
    .sec {
        height: fit-content;
    }

}