.container {
    flex-direction: row !important;
    position: relative;

}

.main {
    display: flex;
    padding: 8px 88px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.body {
    position: relative;
    padding: 56px 24px 32px 24px;
    border-radius: 32px;
    border: 1px solid var(--b24, rgba(32, 32, 38, 0.24));
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 100%;
    min-height: 316px;
}
.body p{
    font-size: 18px;
}
.right {
    position: absolute;
    top: -20px;
    right: -20px;
}

.left {
    position: absolute;
    bottom: -20px;
    left: -20px;
}

.indicator {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.point {
    display: flex;
    padding: 3px;
    border-radius: 6px;
    background-color: var(--b16);
}
.point.active{
    padding: 6px;
    background-color: var(--brandMain);
}

.client {
    display: flex;
    padding: 4px 0px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.name {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 133.333% */
}

.title {
    color: var(--b60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 133.333% */
}

@media(max-width: 768px) {
    .main {
        padding: 16px;
    }

    .next {
        position: absolute;
        bottom: -64px;
        left: 40%;
        transform: translate(-50%, 0);
    }

    .prev {
        position: absolute;
        bottom: -64px;
        left: 60%;
        transform: translate(-50%, 0);
    }

    .sec {
        padding-bottom: 136px;
    }
    .name, .title{
        font-size: 14px;
    }
}